<% @title="About Me | Elise Barnes" %>

<div class="about-image">
	<div class="about-text">
		<h1>About Me</h1>
		<p>A Full Stack Web Devloper seeking the next adventure.</p>
	</div>
</div>

<div class="about-main">
	<p>I graduated from Stockton University with a Bachelors Degree in Business/Hospitality and Tourism Management. I worked in the hotel/event industry as an assistant manager, event manager, and social media manager before I became sick with Lyme Disease and had to put my career on hold. During my recovery time I started a natural health and lifestyle blog documenting my recovery and sharing insight on how to overcome illness without the use of pharmaceutical drugs. Through working on my blog, I fell in love with the process of creating and designing websites. I then began teaching myself how to code. Shortly after, I attended the New York Code and Design Academy's Web Development Intensive Program where I became certified in Full Stack Web Development. I am currently looking for a full-time, front-end web development position.</p>
<br>
	<p>In my free time you can find me hiking, kayaking, camping, bike riding, or somewhere enjoying the great outdoors in my home state of New Jersey. I am also constantly working on new projects to refine my skills and develop new ones!</p>

	<h5>Some of my strengths include...</h5>
	<div class="arrow bounce fa fa-angle-down fa-3x"></div>
</div><!--  end of .about-main -->

<div class="about-skills container">
	<div class="row">
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/25/25185.svg" />
			<h5>Languages/ Skills</h5>
			<p>HTML5, CSS3, JavaScript, jQuery, Ruby, Rails, Bootstrap, Skeleton, SASS</p>
		</div>
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/212/212819.svg" />
			<h5>Dynamic Websites</h5>
			<p>Websites don't have to be static, I love making pages come to life.</p>
		</div>
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/65/65381.svg" />
			<h5>Responsive Design</h5>
			<p>My layouts will look beautiful and adapt to any device, big or small.</p>
		</div>
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/33/33592.svg" />
			<h5>Modern Design</h5>
			<p>Strong preference for easy to use, intuitive, clean and modern UX/UI.</p>
		</div>
	</div>
</div>

<div class="about-button">
	<%= link_to "<button>Let's Work Together</button>".html_safe, contact_path %>
</div>