<% @title="About | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="about-image">
	<div id="image-1"></div>
	<div id="image-2"></div>
	<div id="image-3"></div>
</div>

<div class="about-main">
	<h2>Hi! Im Elise -</h2>
	<p>I’m a freelance Website Designer and Developer based in NJ, right outside of the Big Apple! I’ve always had a deep passion for all things <strong>design and creativity</strong>. Since I was young, I was always fascinated to figure out how things work and how I could make things that I would imagine in my head. As I got older, I was <em>thrilled</em> to learn about the wonderful world of Website Design and Development. From the very first piece of code that I wrote, I knew that this craft was basically <em>made</em> for me. The unique combination of creative and critical thinking required to build websites is something that gets me SO SO SO excited to get up every morning and do.</p>
	<br>
	<p>I am incredibly grateful to be able to do something that I love so much every single day. Being able to take a client's thoughts and ideas and turn them into a finished product is truly an <strong>amazing</strong> feeling. I have worked with some of the most <strong>inspiring</strong> clients and am very humbled to continually watch their success stories unfold.</p>
	<br>
	<p>If you need a website but have no idea where to start, or the thought of trusting a stranger with your beloved business scares you- let’s have a chat!</p>
	<br>
	<p>Ill outline a clear path of exactly what the process will look like and I <em>promise</em> to make it as easy as possible for you. I want you to feel <strong>100%</strong> confident and comfortable with me as your own <strong>personal</strong> designer and developer! You're always welcome to ask me any questions that come to your mind at any time of the day. You can trust me to provide guidance and clarity every step of the way. <em>Wherever you want to go, l’ll help get you there</em> --</p>
</div><!--  end of .about-main -->

<div>
	<h4 id="testimonials-h4">Here's what my clients say</h4>
	<div class="arrow bounce fa fa-angle-down fa-3x"></div>
</div>

<div class="testimonials">
	<p>I love my site! Elise did a beautiful job and delivered on time! She really listened to what my ideas were and created a masterpiece. Incredibly professional, prompt, and very talented. Everyone keeps complimenting our new site too! I will definitely use her services for future projects and I highly recommend.</p>
</div>

<h5 id="strengths-h5">Some of my strengths include...</h5>
<div class="arrow bounce fa fa-angle-down fa-3x"></div>

<div class="about-skills container">
	<div class="row">
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/25/25185.svg" />
			<h5>Languages/ Skills</h5>
			<p>HTML5, CSS3, JavaScript, jQuery, Ruby, Rails, Bootstrap, Skeleton, SASS, JSON, AJAX, XML, Git and API Integration</p>
		</div>
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/212/212819.svg" />
			<h5>Dynamic Websites</h5>
			<p>Websites don't have to be static, I love making web pages come to life and tell a story.</p>
		</div>
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/65/65381.svg" />
			<h5>Responsive Layouts</h5>
			<p>My flexible layouts, images, and media queries will look beautiful and adapt to any device, big or small.</p>
		</div>
		<div class="about-skills-item three columns scroll-show-skills">
			<img src="https://image.flaticon.com/icons/svg/33/33592.svg" />
			<h5>Modern Design</h5>
			<p>Strong preference for easy to use, intuitive, clean and modern UX/UI.</p>
		</div>
	</div>
</div>

<div class="about-button">
	<%= link_to "<button>Let's Work Together</button>".html_safe, contact_path %>
</div>