<% @title="Client Portal | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="client-portal">
	<h1>Client Portal <span>-----</span></h1>
	<p>Login here to read & sign your contract, pay your invoices, and upload content.
	The login window below may take a moment to load.</p>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js"></script><iframe src="https://hello.dubsado.com:443/public/client/portal/5c8bea7947e90f0c27e25272?iframe=true" frameBorder="0" width="100%" height="750"></iframe><script type="text/javascript">setTimeout(function(){iFrameResize({checkOrigin: false});},30);</script>