<% @title="The Friendly Bean Cafe | Portfolio" %>

<div class="coffee-image">
	<div class="coffee-text">
		<h1>The Friendly Bean Cafe</h1>
		<p>An example website for a coffee shop.</p>
		<a href="https://local-coffee-shop.herokuapp.com/" target="_blank"><button>Visit Live Site</button></a>
	</div>
</div>

<div class="coffee-lang">
		<p> HTML </p>
		<p> CSS </p>
		<p> JavaScript </p>
		<p> JQuery </p>
		<p> Ruby </p>
		<p> Rails </p>
		<p> Sass </p>
		<p> Responsive </p>
</div>

<div class="coffee-desc">

	<p>The Friendly Bean Cafe is a website I created for a coffee shop to showcase my front-end development skills and modern design influence. Users can view the coffee shop's about/ history in a timeline style, read the menu and reviews, and place an online order.</p>

	<p><a href="https://github.com/barnese3/coffee-shop-website" target="_blank">View Code on GitHub</a></p>

</div>

<div class="portfolio-btn-contain">
	<%= link_to "<button>Back to Portfolio</button>".html_safe, portfolio_path %>
</div>