<% @title="Elise Barnes | Freelance Web Designer & Developer" %>

<div class="hero-image">
	<div class="hero-text css-typing">
		<p>Hi, I'm Elise Barnes.</p>
		<p>I'm a Website Designer & <span>Developer.</span></p>
		<div><%= link_to "<button>Let's Chat</button>".html_safe, contact_path %></div>
	</div>
</div>

<div class="home-desc">
	<p>Hello there! My name's Elise and I’m a Freelance Website Designer & Developer based in New Jersey, right outside of NYC. I specialize in building stunning, modern, and mobile-responsive <strong>Squarespace</strong> websites for all types of brands and businesses.</p>
	<br>
	<p>Whether you're an established business, or a start-up, I will ensure that your website makes you stand out in the crowd. With a Custom Built Website, your website will be so much more than an online version of your business card. It’ll become a <strong>high-performing</strong> part of your business plan that works for you 24 hours a day. You'll feel proud to promote it and know that it's making the very best impression for you online. We'll work together to create something that <em>beautifully</em> reflects what you and your business are all about.</p>
	<div class="about-button" id="recent-work-button">
		<%= link_to "<button>Check Out My Recent Work<i class='fa fa-arrow-right'></i></button>".html_safe, portfolio_path %>
	</div>
</div>

<div class="quote-image">
	<div class="quote-text scroll-show">
		<p><em>“Never give up on a dream just because of the time it will take to accomplish it. The time will pass anyway.”</em></p>

		<p>- EARL NIGHTINGALE</p>
	</div>
</div>

<section id="services">
	<h2 class="portfolio-header"><span>My Services</span></h2>
	<p class="section-lead">I create beautiful, custom built websites on the <strong>Squarespace</strong> platform. Building websites on Squarespace offers the perfect combination of flexibility and ease of use. And the awesome part is, you'll be able to take over the running and updating of your site after I'm done. But hey - if you don't want to, I can do that too!</p>
	<p class="section-lead">I offer a wide range of services to ensure your website design works for you and your business. I want you to be 100% happy with your website, and I take great pride in customer satisfaction. Here's what I can do for you...</p>
	<div class="services-grid">
		<div class="row-1">
			<div class="service service1">
			  <img src="https://image.flaticon.com/icons/svg/33/33592.svg">
			  <h4>Custom Design & Development</h4>
			  <p>Striking design customized to enhance and build your brand. Complete with a Content Management System that I'll show you how to use.</p>
			  <a href="services-and-prices" class="cta">Read More <span class="ti-angle-right"></span></a>
			</div>

			<div class="service service2">
			  <img src="https://image.flaticon.com/icons/svg/685/685173.svg">
			  <h4>Brand Identity</h4>
			  <p>A brand identity is the visual representation of the values and "personality" of your brand. Your website will be designed to communicate that perfectly.</p>
			  <a href="services-and-prices" class="cta">Read More <span class="ti-angle-right"></span></a>
			</div>

			<div class="service service3">
			  <img src="https://image.flaticon.com/icons/svg/149/149307.svg">
			  <h4>Logo Design</h4>
			  <p>You deserve a logo that takes you places. After all, your logo is the <em>face</em> of your company. I can create a fresh and original logo that you are passionate about.</p>
			  <a href="services-and-prices" class="cta">Read more <span class="ti-angle-right"></span></a>
			</div>

			<div class="service service1" id="blog-setup">
			  <img src="https://image.flaticon.com/icons/svg/228/228952.svg">
			  <h4>Blog Setup</h4>
			  <p>Almost every business website has a blog these days! Whether you want a website centered around your blog or just a blog page on the side, I can create that for you.</p>
			  <a href="services-and-prices" class="cta">Read More <span class="ti-angle-right"></span></a>
			</div>
		</div>

		<div class="row-2">
			<div class="service service2">
			  <img src="https://image.flaticon.com/icons/svg/115/115756.svg">
			  <h4>Responsive Layouts</h4>
			  <p>The website I will design for you will look amazing on all devices, from desktop PC's to smartphones. My <em>specialty</em> is mobile responsiveness!</p>
			  <a href="services-and-prices" class="cta">Read More <span class="ti-angle-right"></span></a>
			</div>
			
			<div class="service service3">
			  <img src="https://image.flaticon.com/icons/svg/149/149309.svg">
			  <h4>SEO</h4>
			  <p>Search Engine Optimization is the <strong>key</strong> to a successful website. Luckily, I know the ins and outs of SEO. The website you're on <em>right now</em> has an SEO score of 100%!</p>
			  <a href="services-and-prices" class="cta">Read more <span class="ti-angle-right"></span></a>
			</div>

			<div class="service service1">
			  <img src="https://image.flaticon.com/icons/svg/34/34611.svg">
			  <h4>eCommerce</h4>
			  <p>If you need to sell your goods online, I can design your site to incorporate an attractive, easy to use, and secure online shop.</p>
			  <a href="services-and-prices" class="cta">Read More <span class="ti-angle-right"></span></a>
			</div>

			<div class="service service2">
			  <img src="https://image.flaticon.com/icons/svg/942/942810.svg">
			  <h4>Online Booking</h4>
			  <p>Get more customers by offering online booking. People are more likely to book your services if you offer them the ability to book <em>directly</em> from your website.</p>
			  <a href="services-and-prices" class="cta">Read More <span class="ti-angle-right"></span></a>
			</div>
		</div>
	</div>
</section>

<h2 class="portfolio-header" id="recent-2"><span>Recent Wesbite Launches</span></h2>

<div id="p-mobile">
<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<div class="portfolio-item5"></div>
	</div>

	<div class="portfolio-btn-contain" id="greenwood">
		<a href="https://barnese3.github.io/greenwood-lake-cruises/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>

	<div class="content scroll-show-portfolio">
		<div class="portfolio-item1"></div>
	</div>
	
	<div class="portfolio-btn-contain">
		<a href="https://dandfdeli.com/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>
</div>
</div>

<div id="p-desktop">
<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<div class="portfolio-item5"></div>
	</div>

	<div class="content scroll-show-portfolio">
		<div class="portfolio-item1"></div>
	</div>
	
	<div class="portfolio-btn-contain">
		<a href="https://barnese3.github.io/greenwood-lake-cruises/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>

	<div class="portfolio-btn-contain">
		<a href="https://dandfdeli.com/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>
</div>
</div>

<div class="about-button">
	<%= link_to "<button>Get a Free Website Quote<i class='fa fa-arrow-right'></i></button>".html_safe, contact_path %>
</div>

<button class="top"><i class="fa fa-long-arrow-up"></i></button>

<script>
// back to top button
$(document).ready(function() {
    $(function(){
        $.fn.scrollToTop=function(){
            $(this).hide().removeAttr("href");
            if($(window).scrollTop()!="0"){
                $(this).fadeIn("slow")
            }
            var scrollDiv=$(this);
            $(window).scroll(function(){
                if($(window).scrollTop()=="0"){
                    $(scrollDiv).fadeOut("slow")
                }else{
                    $(scrollDiv).fadeIn("slow")
                }
            });
            $(this).click(function(){
                $("html, body").animate({scrollTop:0},"slow")
            }
            )}
        });
            
    $(function(){
        $(".top").scrollToTop();
    });
});
</script>