<% @title="Home | Elise Barnes, Full Stack Web Developer" %>

<div class="hero-image">
	<div class="hero-text css-typing">
		<p>Hi, I'm Elise Barnes.</p>
		<p>I'm a Full Stack Web Developer.</p>
		<%= link_to "<button>Let's Chat</button>".html_safe, contact_path %>
	</div>
</div>

<div class="home-desc">
	<p>Hello there. My name's Elise and I’m a Full Stack Web Developer, passionate about the front-end and design. I'm a graduate of the New York Code + Design Academy's Web Development Intensive Bootcamp. I have experience with managing brands (both personal and business), managing social media accounts, and making people happy. I am passionate about transforming client visions into tangible websites that truly represent the core of their business and mission.</p>
</div>

<div class="quote-image">
	<div class="quote-text scroll-show">
		<p><em>“I think the foremost quality – there’s no success without it – is really loving what you do. If you love it, you do it well, and there’s no success if you don’t do well what you’re working at.”</em></p>

		<p>- Malcolm Forbes</p>
	</div>
</div>

<h1 class="portfolio-header"><span>Recent Work</span></h1>

<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<a href="crystal-cove">
			<div class="content-overlay"></div>
			<div class="portfolio-item5"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">The Inn at Crystal Cove</h3>
        		<p class="content-text">Website redesign for an Inn near Boston, Massachusetts.</p>
      		</div>
		</a>
	</div>

	<div class="content scroll-show-portfolio">
		<a href="friendlybean">
			<div class="content-overlay"></div>
			<div class="portfolio-item1"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">The Friendly Bean Cafe</h3>
        		<p class="content-text">Example website for a coffee shop.</p>
      		</div>
		</a>
	</div>

	<div class="content scroll-show-portfolio">
		<a href="whereto">
			<div class="content-overlay"></div>
			<div class="portfolio-item2"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">Where To?</h3>
        		<p class="content-text">An outdoor activity search website using active.com API.</p>
      		</div>
		</a>
	</div>

	<div class="content scroll-show-portfolio">
		<a href="plenty">
			<div class="content-overlay"></div>
			<div class="portfolio-item4"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">PLENTY</h3>
        		<p class="content-text">A web/mobile app that aims to address the growing problem of food waste produced by restaurants.</p>
      		</div>
		</a>
	</div>

	<div class="content scroll-show-portfolio">
		<a href="https://barnese3.github.io/create-sc-playlists/" target="_blank">
			<div class="content-overlay"></div>
			<div class="portfolio-item3"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">Create Your Own Playlists</h3>
        		<p class="content-text">This project is not completed yet, but feel free to check it out so far!</p>
      		</div>
		</a>
	</div>
</div>

<div class="portfolio-btn-contain">
	<%= link_to "<button>View Portfolio</button>".html_safe, portfolio_path %>
</div>

<button class="top"><i class="fa fa-long-arrow-up"></i></button>

<script>
// back to top button
$(document).ready(function() {
    $(function(){
        $.fn.scrollToTop=function(){
            $(this).hide().removeAttr("href");
            if($(window).scrollTop()!="0"){
                $(this).fadeIn("slow")
            }
            var scrollDiv=$(this);
            $(window).scroll(function(){
                if($(window).scrollTop()=="0"){
                    $(scrollDiv).fadeOut("slow")
                }else{
                    $(scrollDiv).fadeIn("slow")
                }
            });
            $(this).click(function(){
                $("html, body").animate({scrollTop:0},"slow")
            }
            )}
        });
            
    $(function(){
        $(".top").scrollToTop();
    });
});
</script>