<% @title="Portfolio | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="portfolio-image">
	<div class="portfolio-text">
<!-- 		<h1>Portfolio</h1> -->
	</div>
</div>

<div class="portfolio-desc">
	<h4>Take a look at some of my most recent website launches...</h4>
</div>

<div id="p-mobile">
<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<div class="portfolio-item5"></div>
	</div>

	<div class="portfolio-btn-contain" id="greenwood">
		<a href="https://barnese3.github.io/greenwood-lake-cruises/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>

	<div class="content scroll-show-portfolio">
		<div class="portfolio-item1"></div>
	</div>
	
	<div class="portfolio-btn-contain">
		<a href="https://dandfdeli.com/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>
</div>
</div>

<div id="p-desktop">
<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<div class="portfolio-item5"></div>
	</div>

	<div class="content scroll-show-portfolio">
		<div class="portfolio-item1"></div>
	</div>
	
	<div class="portfolio-btn-contain">
		<a href="https://barnese3.github.io/greenwood-lake-cruises/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>

	<div class="portfolio-btn-contain">
		<a href="https://dandfdeli.com/" target="_blank">
			<button>
				Visit Live Site
				<i class="fa fa-angle-right"></i>
<!-- 				<div></div> -->
			</button>
		</a>
	</div>
</div>
</div>

<div class="about-button">
	<%= link_to "<button>Get a Free Website Quote<i class='fa fa-arrow-right'></i></button>".html_safe, contact_path %>
</div>