<% @title="Portfolio | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="portfolio-image">
	<div class="portfolio-text">
<!-- 		<h1>Portfolio</h1> -->
	</div>
</div>

<div class="portfolio-desc">
	<p>These pieces showcase my best work, struggles, triumphs, and passion for web development. My favorite part about these projects is the fact that I learned something substantial throughout the process of creating each one and added many tools to my developer toolbox. I am constantly working on new projects and developing new skills along the way. I hope you enjoy!</p>
	<br>
	<p><em>I also designed and developed this personal portfolio site (www.elisebarnes.org). View the code <a href="https://github.com/barnese3/elise-barnes-portfolio" target="_blank">here</a>.</em></p>
</div>

<div id="p-mobile">
<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<div class="portfolio-item5"></div>
	</div>

	<div class="portfolio-btn-contain">
		<a href="https://barnese3.github.io/greenwood-lake-cruises/" target="_blank">
			<button>
				Visit Live Site
				<div></div>
			</button>
		</a>
	</div>

	<div class="content scroll-show-portfolio">
		<div class="portfolio-item1"></div>
	</div>
	
	<div class="portfolio-btn-contain">
		<a href="https://barnese3.github.io/DandF-Deli/" target="_blank">
			<button>
				Visit Live Site
				<div></div>
			</button>
		</a>
	</div>
</div>
</div>

<div id="p-desktop">
<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<div class="portfolio-item5"></div>
	</div>

	<div class="content scroll-show-portfolio">
		<div class="portfolio-item1"></div>
	</div>
	
	<div class="portfolio-btn-contain">
		<a href="https://barnese3.github.io/DandF-Deli/" target="_blank">
			<button>
				Visit Live Site
				<div></div>
			</button>
		</a>
	</div>

	<div class="portfolio-btn-contain">
		<a href="https://barnese3.github.io/greenwood-lake-cruises/" target="_blank">
			<button>
				Visit Live Site
				<div></div>
			</button>
		</a>
	</div>
</div>
</div>