<% @title="Portfolio | Elise Barnes, Full Stack Web Developer" %>

<div class="portfolio-image">
	<div class="portfolio-text">
		<h1>Portfolio</h1>
		<p>Talk is cheap. Show me the code.</p>
	</div>
</div>

<div class="portfolio-desc">
	<p>These pieces showcase my best work, struggles, triumphs, and passion for web development. My favorite part about these projects is the fact that I learned something substantial throughout the process of creating each one and added many tools to my developer toolbox. I am constantly working on new projects and developing new skills along the way. I hope you enjoy!</p>
</div>

<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio">
		<a href="https://local-coffee-shop.herokuapp.com/" target="_blank">
			<div class="content-overlay"></div>
			<div class="portfolio-item1"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">Local Coffee Shop</h3>
        		<p class="content-text">Example website for a local coffee shop.</p>
      		</div>
		</a>
	</div>

		<div class="content scroll-show-portfolio">
		<a href="whereto">
			<div class="content-overlay"></div>
			<div class="portfolio-item2"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">Where To?</h3>
        		<p class="content-text">An outdoor activity search website.</p>
      		</div>
		</a>
	</div>

		<div class="content scroll-show-portfolio">
		<a href="#">
			<div class="content-overlay"></div>
			<div class="portfolio-item3"></div>
			<div class="content-details fadeIn-top">
        		<h3 class="content-title">Coming Soon</h3>
        		<p class="content-text">This is a short description</p>
      		</div>
		</a>
	</div>
</div>