<% @title="Services & Prices | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="services-header"></div>

<div class="services-h1">
	<h1>Services & Prices <span>-----</span></h1>
</div>

<div class="services-text">
	<p>All of my websites are built on <strong>Squarespace</strong> (see why below). Each website I create includes a custom design thats clean, modern and follows the best web design practices. My website package description, "starting at price", and optional add-on services are listed below. Keep in mind that each project is unique and prices will vary according to your exact needs and goals. Once I learn a little more about what you're looking for, I'll be able to give you an exact price and amount of time it will take me to build it.</p>

	<div id="more-info">
		<h5><strong>Why Squarespace?</strong></h5>
		<h6 id="show">+ Click for information</h6>
		<h6 id="hide">- Hide information</h6>
	</div>

	<ul>
		<li>Squarespace takes care of software updates, plug-in installations and online security for you behind the scenes. You don't need to worry about a thing.</li>
		<li>There's no need to purchase and manage a theme, child theme, domain and hosting separately. It's all managed in your Squarespace account and works together seamlessly.</li>
		<li>Most importantly, making edits and updates to your website in the future will be a breeze using their intuitive drag-and-drop interface.</li>
		<li>24/7 online customer support, plus a huge library of video and step-by-step tutorials, means that you'll easily be able to run your website yourself after I've built it for you. (Of course, I'll show you exactly how to manage your site before I had over the reigns and if you need any assistance afterward, I'm only an email away).</li>
		<li>Flexibility! Squarespace can be used for regular websites, online stores or blogs. You can integrate appointment booking, social media accounts, calendars, videos, galleries or services like Foursquare. The options are endless and your website can easily grow and change as your business does.</li>
		<li>Your website can be completely customized. As a developer, Squarespace allows me to use custom code to break free of the average "template look". I'm also able to add in Search Engine Optimization and Image Optimization for fast performance.</li>
	</ul>
</div>

<div class="services-main">
	<div class="container">
		<div class="row">
			<div class="five columns"></div>
			<div class="seven columns">
				<h5 id="week-price">2-4 WEEK PROCESS | USD $1200+</h5>
				<h2>Custom Website Design & Development</h2>
				<h5>Includes:</h5>
				<ul>
					<li>- Up to 5 pages</li>
					<li>- Custom Design + Development</li>
					<li>- Content Management System</li>
					<li>- Search Engine Optimization</li>
					<li>- Image Optimization for fast performance</li>
					<li>- Mobile Responsive Layout</li>
					<li>- Social Media Integration + Email Connection</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="services-addons">
	<h5 id="addon-h5">ADD-ON SERVICES</h5>
	<div class="container">
		<div class="row">
			<div class="four columns">
				<h5>01.</h5>
				<p class="addon-headers">+ADDITIONAL PAGES | $100 EACH</p>
				<p>Each additional page (after the included 5 pages) will be $100 each</p>
			</div>
			<div class="four columns">
				<h5>02.</h5>
				<p class="addon-headers">+LOGO DESIGN | $100</p>
				<p>A beautiful, unique logo that perfectly represents your business/brand</p>
			</div>
			<div class="four columns">
				<h5>03.</h5>
				<p class="addon-headers">+BLOG SETUP | $200</p>
				<p>You can choose to center your entire site around your blog or just have a blog page</p>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<h5>04.</h5>
				<p class="addon-headers">+ONLINE STORE | $300</p>
				<p>Sell goods online with an easy to manage, <strong>secure</strong> eCommerce store</p>
			</div>
			<div class="four columns">
				<h5>05.</h5>
				<p class="addon-headers">+ONLINE BOOKING/SCHEDULING | $300</p>
				<p>Clients can book your services online straight from your secure site</p>
			</div>
			<div class="four columns">
				<h5>06.</h5>
				<p class="addon-headers">+CONTENT WRITING | $250</p>
				<p>I can take care of all the content writing that your site needs</p>
			</div>
		</div>
	</div>
</div>

<div class="services-text">
	<p>After your website is complete, I'll provide you with your Squarespace login information. This means that you'll be able to make changes to your site at anytime you wish, I'll even show you how to do so! And if you need help with anything in the future, I'm just an <a href="mailto:elise@websitesbyelise.com">email</a> away and happy to help.</p>
	<p>My main goal is to provide you with a website that will help your business grow and succeed. I want to lay everything out on the table for you so you know exactly what to expect. <strong>This is how we'll work together:</strong></p>
</div>

<div class="services-addons process">
	<h5 id="addon-h5">THE PROCESS:</h5>
	<div class="container">
		<div class="row">
			<div class="five columns">
				<h5><img src="https://image.flaticon.com/icons/svg/1034/1034131.svg""></h5>
				<p class="addon-headers">exploratory call</p>
				<p>We'll jump on a call, get to know each other, and discuss exactly what you’re looking for. Once we decide to work together, I mark out milestones on the calendar and send you a list of everything I need from you to get started.</p>
			</div>
			<div class="two columns"><img src="https://image.flaticon.com/icons/svg/120/120881.svg"></div>
			<div class="five columns">
				<h5><img src="https://image.flaticon.com/icons/svg/1157/1157079.svg"></h5>
				<p class="addon-headers">material gathering</p>
				<p>I'll also send you my “PRE-BUILD QUESTIONNAIRE” that will give me all the inside info about you, your business, your ideal client, your current frustrations, your online goals and other bits and pieces like social media logins.</p>
			</div>
		</div>
		<div class="row">
			<div class="five columns">
				<h5><img src="https://image.flaticon.com/icons/svg/977/977597.svg"></h5>
				<p class="addon-headers">initial buildout</p>
				<p>I’ll build a first draft of your site using everything that you’ve provided me with. I'll also keep you updated along the way.</p>
			</div>
			<div class="two columns"><img src="https://image.flaticon.com/icons/svg/120/120881.svg"></div>
			<div class="five columns">
				<h5><img src="https://image.flaticon.com/icons/svg/767/767636.svg"></h5>
				<p class="addon-headers">review & feedback</p>
				<p>You review the site and let me know what you would like changed - sometimes we don’t know what we want until we see it in action!</p>
			</div>
		</div>
		<div class="row">
			<div class="five columns">
				<h5><img src="https://image.flaticon.com/icons/svg/447/447147.svg"></h5>
				<p class="addon-headers">final draft</p>
				<p>I make all the requested changes, wrap everything up, and get ready for launch.</p>
			</div>
			<div class="two columns"><img src="https://image.flaticon.com/icons/svg/120/120881.svg"></div>
			<div class="five columns">
				<h5><img src="https://image.flaticon.com/icons/svg/284/284128.svg"></h5>
				<p class="addon-headers">tutorial & signing off</p>
				<p>Once you’re happy, we jump on a screen-share call so that I can walk you through how to make changes to your new site</p>
			</div>
		</div>
	</div>
</div>

<div class="services-client-portal">
	<div class="container">
		<div class="row">
			<div class="five columns">
				<h3>Online Client Portal</h3>
				<p id="client-p">MY ONLINE CLIENT PORTAL MAKES UPLOADING YOUR WEBSITE’S CONTENT AND KEEPING TRACK OF YOUR INVOICES AS EASY AS PIE!</p>
				<p>I’ll email you a password after your book with me and you’ll be able to:</p>
				<ul>
					<li>- View and sign your contract</li>
					<li>- View and pay your invoices, plus see how much you owe and when it’s due, at any time</li>
					<li>- Upload all of your content, whether they be text documents, images, product details or blog posts as you get them ready. No keeping track of attachments!</li>
					<li>- Fill out your Pre-Build Questionnaire (and edit it as many times as you like before the build)</li>
					<li>- View a record of our email correspondence</li>
				</ul>
				
			</div>
			<div class="seven columns"></div>
		</div>
	</div>
</div>

<div class="contact-form-header">
	<h5>READY TO GET STARTED?</h5>
	<h6>SHOOT ME A MESSAGE BELOW TO DISCUSS YOUR PROJECT IN MORE DETAIL</h6>
</div>

<div class="services-contact-form">
	<form id="services-contact-form" action="https://api.formbucket.com/f/buk_kwWOgnGjJUb59ocUlsLHZMZ8" method="post">
		<div class="row">
			<div class="six columns">
				<input type="text" name="firstName" placeholder="First Name *" required/>
			</div>
			<div class="six columns">
				<input type="text" name="lastName" placeholder="Last Name *" required/>
			</div>
		</div>
	  	<input type="text" name="email" placeholder="Email *" required/>
	  	<label>What is your current website URL (if you have one)?</label>
		<div class="description">Or you can give me your FB / IG page. </div>
		<input type="text" name="website" placeholder="https://" />
	  	<label>What is your ideal start date? *</label>
		<select name="startDate" required>
			<option value="ASAP">ASAP</option>
			<option value="1-2 WEEKS">1-2 WEEKS</option>
			<option value="1-3 MONTHS">1-3 MONTHS</option>
			<option value="3-6 MONTHS">3-6 MONTHS</option>
			<option value="I'm not sure yet">I'm not sure yet</option>
			<option value="I just have a few questions">I just have a few questions</option>
		</select>
		<label>Message *</label>
	  	<textarea type="text" name="message" placeholder="Tell me more about what you're looking for..." required=""></textarea>
	  	<button class="button secondary" type="submit">Submit</button>
	</form>
</div>

<script>
	$(document).ready(function(){
	  $("#more-info").click(function(){
	    $(".services-text ul").toggle();
	    $("#show").toggle();
	    $("#hide").toggle();
	  });
	});
</script>

