<% @title="Services & Prices | Elise Barnes - Freelance Web Designer & Developer" %>

<h1 class="where-to-header">Services & Prices</h1>

<p id="services-p">This information will be available soon. In the meantime, feel free to <a href="contact">contact me</a> directly with any questions/ for a free website quote!</p>

<!-- <div class="where-to-lang">
		<p> HTML </p>
		<p> CSS </p>
		<p> JavaScript </p>
		<p> JQuery </p>
		<p> Ruby </p>
		<p> Rails </p>
		<p> Sass </p>
		<p> Responsive </p>
</div> -->