<% @title="Services & Prices | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="services-header"></div>

<!-- 	<p style="padding: 150px 0; text-align: center;">This information will be available soon. In the meantime, <a href="contact.html">contact me</a> directly with any questions or for a free project quote.</p> -->

<div class="services-text">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="services-main">
	<div class="container">
		<div class="row">
			<div class="five columns"></div>
			<div class="seven columns">
				<h5 id="week-price">2-4 WEEK PROCESS | USD $950+</h5>
				<h2>Custom Website Design & Development</h2>
				<h5>Includes:</h5>
				<ul>
					<li>- Up to 5 pages</li>
					<li>- Custom Design + Development</li>
					<li>- Content Management System</li>
					<li>- Search Engine Optimization</li>
					<li>- Image Optimization for fast performance</li>
					<li>- Mobile Responsive</li>
					<li>- Social Media Integration + Email Connection</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="services-addons">
	<h5 id="addon-h5">ADD-ON SERVICES</h5>
	<div class="container">
		<div class="row">
			<div class="four columns">
				<h5>01.</h5>
				<p class="addon-headers">+ADDITIONAL PAGES | $50 EACH</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
			<div class="four columns">
				<h5>02.</h5>
				<p class="addon-headers">+ADDITIONAL PAGES | $50 EACH</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
			<div class="four columns">
				<h5>03.</h5>
				<p class="addon-headers">+ADDITIONAL PAGES | $50 EACH</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<h5>04.</h5>
				<p class="addon-headers">+ADDITIONAL PAGES | $50 EACH</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
			<div class="four columns">
				<h5>05.</h5>
				<p class="addon-headers">+ADDITIONAL PAGES | $50 EACH</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
			<div class="four columns">
				<h5>06.</h5>
				<p class="addon-headers">+ADDITIONAL PAGES | $50 EACH</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
		</div>
	</div>
</div>

<div class="services-text">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="services-client-portal">
	<div class="container">
		<div class="row">
			<div class="five columns">
				<h3>Online Client Portal</h3>
				<p id="client-p">MY ONLINE CLIENT PORTAL MAKES UPLOADING YOUR WEBSITE’S CONTENT AND KEEPING TRACK OF YOUR INVOICES AS EASY AS PIE!</p>
				<p>I’ll email you a password after your book with me and you’ll be able to:</p>
				<ul>
					<li>- View and sign your contract</li>
					<li>- View and pay your invoices, plus see how much you owe and when it’s due, at any time</li>
					<li>- Upload all of your content, whether they be text documents, images, product details or blog posts as you get them ready. No keeping track of attachments!</li>
					<li>- Fill out your Pre-Build Questionnaire (and edit it as many times as you like before the build)</li>
					<li>- View a record of our email correspondence</li>
				</ul>
				
			</div>
			<div class="seven columns"></div>
		</div>
	</div>
</div>

<div class="contact-form-header">
	<h5>READY TO GET STARTED?</h5>
	<h6>SHOOT ME A MESSAGE BELOW TO DISCUSS YOUR PROJECT IN MORE DETAIL</h6>
</div>

<div class="services-contact-form">
	<form id="services-contact-form" action="//formspree.io/barnese3@go.stockton.edu" method="POST">
		<input class="fl-name" type="text" name="Name" placeholder="First Name *" required>
		<input type="text" name="LName" placeholder="Last Name *" required class="fl-name">
		<br>
		<input type="email" name="Email" placeholder="Email *" required>
		<br>
		<label>What is your current website URL (if you have one)?</label>
		<div class="description">Or you can give me your FB / IG page. </div>
		<input type="text" placeholder="https://" name="start-date">
		<br>
		<label>What is your ideal start date? *</label>
		<select name="options" required>
			<option value="ASAP">ASAP</option>
			<option value="1-2 WEEKS">1-2 WEEKS</option>
			<option value="1-3 MONTHS">1-3 MONTHS</option>
			<option value="3-6 MONTHS">3-6 MONTHS</option>
			<option value="I'm not sure yet">I'm not sure yet</option>
			<option value="I just have a few questions">I just have a few questions</option>
		</select>
		<br>
		<label>Message *</label>
		<textarea name="Message" cols="30" rows="6" placeholder="Tell me more about what you're looking for..." required></textarea>
		<br>
		<input type="hidden" name="_cc" value="barnese3@go.stockton.edu">
		<input class="submit" type="submit" value="Send">
	</form>
</div>

