<% @title="Where To? | Portfolio" %>

<h1 class="where-to-header">Where To?</h1>

<div class="where-to-lang">
		<p> HTML </p>
		<p> CSS </p>
		<p> JavaScript </p>
		<p> JQuery </p>
		<p> Ruby </p>
		<p> Rails </p>
		<p> Sass </p>
		<p> Responsive </p>
</div>

<p class='where-to-desc'>Where To?  is an an outdoor activity search site I created as my final project at the New York Code + Design Academy in December 2017. The site uses the ACTIVE.com API to pull in thousands of outdoor events and activities around the world-- <a target="_blank" href="http://developer.active.com/">http://developer.active.com/</a>. I created this site because I am a huge outdoor enthusiast and am always searching for outdoor activities and couldn't find one site that seemed to have them all.</p>

<p class="where-to-desc"><a href="https://github.com/barnese3/where-to" target="_blank">View Code on GitHub</a></p>

<div class="where-to-video">
	<iframe width="630" height="355" src="https://www.useloom.com/embed/fcb79f4e9ce047058ac3c3c5d1ed660c" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="portfolio-btn-contain">
	<%= link_to "<button>Back to Portfolio</button>".html_safe, portfolio_path %>
</div>