$accent: #DDC8C4;
$font: 'Raleway', sans-serif;

.about-image {
	position: relative;
	height: 80vh;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 5%;
    padding: 1%;

    #image-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-image: image-url("me-6-2.jpg");
        background-size: cover;
        background-position: center;

        border-right: 5px solid white;
    }

    #image-2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 40%;
        background-image: image-url("me-1.jpg");
        background-size: cover;
        background-position: center;

        border-left: 5px solid white;
        border-bottom: 5px solid white;
    }

    #image-3 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 60%;
        background-image: image-url("me-5-5.jpg");
        background-size: cover;
        background-position: center 50%;

        border-left: 5px solid white;
        border-top: 5px solid white;
    }
}

.about-main {
    margin-bottom: 100px;

    p, h2 {
        width: 50%;
        margin: 0 auto;
        font-family: $font;
    }

    p {
        text-align: left;
        font-weight: bold;

        strong {
            color: $accent;
        }
    }

    h2 {
        margin-bottom: 20px;
    }
}

#testimonials-h4 {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 4rem;
}

#strengths-h5 {
    text-align: center;
    margin-top: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.testimonials {
    position: relative;
    height: 700px;
    background: url("https://images.pexels.com/photos/758733/pexels-photo-758733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;

    p {
        margin-bottom: 0;
        font-size: 1.3em;
        font-style: italic;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        font-weight: bolder;
    }

    p:before {
        font-family: 'Playfair Display',serif;
        content: "\201C";
        font-size: 100px;
        padding-bottom: 20px;
        color: #fff;
        display: block;
        line-height: 0;
        text-align: center;
    }
}

.testimonials:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000;
    opacity: 0.35;
}

.about-skills {
    .about-skills-item {
        text-align: center;

        img {
            height: 50px;
            width: 150px;
        }

        p {
            font-family: $font;
            font-weight: bold;
        }

        h5 {
            border-bottom: solid 1.5px $accent;
        }
    }
}

.about-skills.container {
    width: 95%;
}

.arrow {
    width: 100%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 40px;
    color: $accent;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.scroll-show-skills {
    display: none;
}

.about-button {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 200px;

    button {
        border-radius: 0px;
        background-color: $accent;
        color: #fff;
        border-color: $accent;
        font-size: 16px;
        transition: all 0.5s ease;
        font-family: sans-serif;
        font-weight: 100;
    }

    button:hover {
        background-color: transparent;
        border-color: $accent;
        color: $accent;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }

    i {
        margin-left: 10px;
    }
}

#recent-work-button {
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 549px) {
    .about-button {
        margin-bottom: 300px !important;
    }

    .services-contact-form form,
    #contact-form {
        padding-bottom: 300px !important;
    }
}

@media (max-width: 600px) {
    .testimonials p {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .about-main p, .about-main h2 {
        width: 90%;
    }
}

@media (max-width: 775px) {
    .about-image {
        background-attachment: scroll;
    }

    .about-image #image-3 {
        background-position: left;
    }

    .testimonials,
    .slider > .item {
        background-attachment: scroll;
    }
}

@media (max-width: 549px) {
    .about-skills.container {
        padding: 0 50px;
    }
}

@media (max-width: 450px) {
    .about-image {
        height: 70vh;
    }
}

@media (max-width: 340px) {
    .about-button button {
        font-size: 13px;
    }
}





























.slider{
  position:relative;
}

.slider > .item{
  position: absolute;
  opacity: 0;
  z-index: 0;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  overflow:hidden;
}

.slider > .item.active{
  opacity: 1;
  z-index:10;
}

.slider .slider-control{
  color: #fff;
  position:absolute;
  top:calc(50% - 30px);
  height:60px;
  width:60px;
  line-height:60px;
  z-index: 100;
  text-align:center;
  cursor: pointer;
}

.slider .slider-control:hover{
  opacity: 1;
}

.slider .slider-control.next{
  right:0;
}

.slider .slider-control.prev{
  left:0;
}

.slider .slider-nav{
  width:100%;
  height: 40px;
  position: absolute;
  z-index: 100;
  text-align:center;
  bottom:0;
  left:0;
}
.slider .slider-nav a{
  display: inline-block;
  margin:5px;
  width:15px;
  height:15px;
  background: #fff;
  overflow: hidden;
  border-radius:50%;
  opacity: .5;
}
.slider .slider-nav a:hover{
  opacity: .9;
}
.slider .slider-nav a.active{
    background: #fff;
  opacity: 1;
}




/*  Testimonials Slideshow Animations  */ 
.slider .item.active .item-content {
  animation-name: fadeUp;
  animation-duration: 0.5s;
}
.slider .item.active .item-content p {
  animation-name: fadeUp;
  animation-duration: .8s;
}

@keyframes fadeUp {
  0% {
    margin-top: 60px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
/*  General Styling  */ 

.slider {
  height: 700px;
  margin: 0 auto 150px auto;
  background: #fff;
  color: #fff;
}

.slider > .item {
  text-align: center;
  background: url("https://images.pexels.com/photos/758733/pexels-photo-758733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.slider > .item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000;
    opacity: 0.35;
}

.slider > .item .item-content {
  padding: 60px;

    p {
        margin-bottom: 0;
        font-size: 1.3em;
        font-style: italic;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        font-weight: bolder;
    }

    p:before {
        font-family: 'Playfair Display',serif;
        content: "\201C";
        font-size: 100px;
        padding-bottom: 20px;
        color: #fff;
        display: block;
        line-height: 0;
        text-align: center;
    }
}