$accent: #DDC8C4;
$font: 'Questrial', sans-serif;

.contact-image {
	position: relative;
	height: 60vh;
	background-image: url("https://images.pexels.com/photos/248771/pexels-photo-248771.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 60px;
    padding: 1%;

    .contact-text {
    	top: 1%;
        right: 1%;
        text-align: right;
    	position: absolute;
    	font-family: $font;
        color: #fff;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

.contact-desc {
    margin-bottom: 60px;

    p {
        width: 50%;
        margin: 0 auto;
        font-family: $font;
    }
}

.social-icons {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;

    i {
        color: $accent;
        padding: 1%;
        font-size: 25px;
    }

    i:hover {
        background-color: $accent;
        color: #fff;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .4s;
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }
}

#contact-form {
    font-family: $font;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 150px;

    input,
    textarea {
        width: 100%;
        font-family: $font;
    }

    textarea {
        resize: none;
        height: 200px;
    }

    input:focus,
    textarea:focus {
        border: 1.5px solid $accent;
    }

    .submit {
        color: #fff;
        background-color: $accent;
        border-color: $accent;
        width: 20%;
        margin: 0 auto;
        padding: 0;
    }

    .submit:hover {
        background-color: transparent;
        color: $accent;
        border-color: $accent;
    }
}

.alert {
    margin-top: 3%;
    font-size: 20px;
    font-family: $font;
}

@media (max-width: 950px) {
    #contact-form .submit {
        width: 40%;
    }
}

@media (max-width: 850px) {
    .contact-desc p {
        width: 95%;
    }

    #contact-form {
        width: 85%;
    }
}