$accent: #DDC8C4;
$font: 'Questrial', sans-serif;

@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.hero-image {
	position: relative;
	height: 70vh;
	background-image: url("https://images.pexels.com/photos/543368/pexels-photo-543368.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 5%;
    padding: 1%;

    .hero-text {
    	bottom: 0;
    	position: absolute;
    	font-family: $font;

		a {
			text-decoration: none;
			color: #000;
			text-transform: capitalize;
			font-style: italic;
			font-family: $font;
			font-weight: 900;

			button {
				border-radius: 0px;
				border-width: 2px;
				color: #fff;
	    		border-color: #fff;
	    		background-color: transparent;
	    		font-size: 13px;
	    		line-height: 0;
			}
    	}

    	button:hover,
    	button:hover > a {
    		
    		background-color: $accent;
			color: #fff;
			border-color: #DDC8C4;
			-webkit-transition-property: all;
	        -moz-transition-property: all;
	        transition-property: all;
	        -webkit-transition-duration: .4s;
	        -moz-transition-duration: .4s;
	        transition-duration: .4s;
	        -webkit-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
    	}
    }
}

.css-typing p {
  border-right: 2px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  letter-spacing: 2px;
}
.css-typing p:nth-child(1) {
  font: 80px $font;
  width: 9.5em;
  -webkit-animation: type 3s steps(40, end);
  animation: type 3s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  font-size: 30px;
  width: 16.2em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end),
  	blink-caret .5s step-end infinite alternate;
  animation: type2 3s steps(40, end),
  	blink-caret .5s step-end infinite alternate;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 2px solid #fff;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 2px solid #fff;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 2px solid #fff;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 2px solid #fff;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.home-desc {
	width: 100%;
	margin-bottom: 5%;

	p {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		font-size: 18px;
		font-family: $font;
	}
}

.scroll-show {
    opacity:0;
}

.quote-image {
	position: relative;
	max-width: 100%;
	height: 500px;
	background-image: url("https://images.pexels.com/photos/144251/yosemite-national-park-landscape-california-144251.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10%;

    .quote-text {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translateX(-50%) translateY(-50%);

    	p {
    		color: white;
    		text-align: center;
    		font-family: $font;
    		font-size: 18px;
    	}
    }
}

// Horizontal Type Line Behind Portfolio Header

.portfolio-header {
    position: relative;
    font-family: $font;
    text-align: center;
    margin-bottom: 60px;
    
    &:before {
        border-top: 1.5px solid $accent;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span { 
        background: #fff; 
        padding: 0 15px; 
    }
}

.home-portfolio {
	width: 90%;
	text-align: center;
	margin: 0 auto;

	.portfolio-item1,
	.portfolio-item2,
	.portfolio-item3,
	.portfolio-item5{
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
		height: 300px;
		width: 100%;
		display: inline-block;
	}

	.portfolio-item4 {
		background-size: 100%;
	    background-position: top;
	    background-repeat: no-repeat;
		height: 300px;
		width: 100%;
		display: inline-block;
	}

	.portfolio-item1 {
		background-image: image-url("coffee-shop.png");
	}

	.portfolio-item2 {
		background-image: image-url("whereto.png");
	}

	.portfolio-item3 {
		background-image: url("https://images.pexels.com/photos/374703/pexels-photo-374703.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
	}

	.portfolio-item4 {
		background-image: image-url("plenty-fullsite.png");
	}

	.portfolio-item5 {
		background-image: image-url("crystal-cove-full.png");
	}
}

.scroll-show-portfolio {
	opacity: 0;
}

.content {
	position: relative;
	height: 300px;
	width: 45%;
	display: inline-block;
	margin: auto;
	overflow: hidden;
}

.content .content-overlay {
	background: $accent;
	position: absolute;
	height: 303px;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	}

.content:hover .content-overlay{
	opacity: 1;
}

.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
	top: 50%;
	left: 50%;
	opacity: 1;
}

.content-details h3{
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-family: $font;
}

.content-details p{
	color: #fff;
	font-size: 1.3em;
	font-family: $font;
}

.fadeIn-top{
  top: 20%;
}

.portfolio-btn-contain {
	width: 100%;
	text-align: center;

	a {
		width: 50%;
		margin: 0 auto;
		font-family: $font;
	}

	button {
		border-radius: 0px;
		background-color: $accent;
		color: #fff;
		border-color: $accent;
		margin-bottom: 12em;
	}

	button:hover,
	button:hover > a {
		color: #DDC8C4;
		border-color: #DDC8C4;
		background-color: transparent;
		-webkit-transition-property: all;
        -moz-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .4s;
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
	}
}

.top {
	border-radius: 0px;
	z-index: 100;
	position: fixed;
	bottom: 5px;
	right: 10px;
	cursor: pointer;
	font-size: 15px;
	color: #DDC8C4;
	border-color: #DDC8C4;
	padding: 0 12px;
	letter-spacing: 0;
}

.top:hover {
	background-color: $accent;
	color: #fff;
	border-color: $accent;
	-webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

@media (max-width: 850px) {
	.home-desc p {
	    width: 95%;
	    font-size: 20px;
	    padding: 50px 1px;
	}
}

@media (max-width: 1345px) {
	.content {
		width: 100%;
	}

	.home-portfolio .portfolio-item1, 
	.home-portfolio .portfolio-item2, 
	.home-portfolio .portfolio-item3,
	.home-portfolio .portfolio-item4,
	.home-portfolio .portfolio-item5,
	.content .content-overlay {
		width: 50%;
	}
}

@media (max-width: 1030px) {

	.home-portfolio .portfolio-item1, 
	.home-portfolio .portfolio-item2, 
	.home-portfolio .portfolio-item3,
	.home-portfolio .portfolio-item4,
	.home-portfolio .portfolio-item5,
	.content .content-overlay {
		width: 65%;
	}
}

@media (max-width: 750px) {

	.home-portfolio .portfolio-item1, 
	.home-portfolio .portfolio-item2, 
	.home-portfolio .portfolio-item3,
	.home-portfolio .portfolio-item4,
	.home-portfolio .portfolio-item5,
	.content .content-overlay {
		width: 80%;
	}
}

@media (max-width: 575px) {

	.home-portfolio .portfolio-item1, 
	.home-portfolio .portfolio-item2, 
	.home-portfolio .portfolio-item3,
	.home-portfolio .portfolio-item4,
	.home-portfolio .portfolio-item5,
	.content .content-overlay {
		width: 97%;
	}
}

@media (max-width: 575px) {

	.home-portfolio .portfolio-item1, 
	.home-portfolio .portfolio-item2, 
	.home-portfolio .portfolio-item3,
	.home-portfolio .portfolio-item4,
	.home-portfolio .portfolio-item5,
	.content {
		height: 225px;
	}
}

@media (max-width: 1024px) {
	.content .content-overlay,
	.content-details {
		opacity: 0;
	}
}

@media (max-width: 775px) {
	.css-typing p:nth-child(1) {
		width: 10em;
		font-size: 50px;
	}

	.css-typing p:nth-child(2) {
		width: 16em;
	}

	.hero-image,
	.quote-image {
		background-attachment: scroll;
	}
}

@media (max-width: 510px) {
	.css-typing p:nth-child(1) {
		font-size: 40px;
	}

	.css-typing p:nth-child(2) {
		font-size: 20px;
		width: 17.5em;
	}
}

@media (max-width: 410px) {
	.css-typing p:nth-child(1) {
		font-size: 35px;
	}
}