$accent: #DDC8C4;
$font: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Kalam:300');

.portfolio-image {
	position: relative;
	height: 65vh;
    background-image: image-url("wbe@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5%;
    padding: 1%;
}

.portfolio-desc {
    margin-top: 50px;

    h1 {
        width: 100%;
        text-align: center;
        font-family: 'Kalam', cursive;
        font-size: 3em;
    }
}

#line {
    text-align: center;
    animation: bounce 2s infinite;
    margin-bottom: 2em;
}

.left.color {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.color {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-bottom: 1.5px solid $accent;
    border-left: 1.5px solid $accent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.portfolio-items {
    margin-bottom: 75px;
    width: 100%;
}

.portfolio-items-2 {
    margin-bottom: 200px;
}

#quin {
    margin-top: 10em;
}

@media (max-width: 500px) {
    .portfolio-desc {
        h1 {
            font-size: 2em;
        }
    }

    #line {
        margin-bottom: 0;
    }
}

@media (max-width: 850px) {
    .portfolio-desc p {
        width: 95%;
        font-size: 20px;
        padding: 0 30px;
    }
}

@media (max-width: 775px) {
    .portfolio-image {
        background-attachment: scroll;
    }
}