$accent: #DDC8C4;
$font: 'Questrial', sans-serif;

.where-to-video {
	text-align: center;
	padding-bottom: 100px;
}

.where-to-header,
.where-to-desc {
	font-family: $font;
	text-align: center;
	padding-bottom: 50px;
}

.where-to-desc {
	margin: 0 auto;
	width: 70%;
}

@media (max-width: 680px) {
	iframe {
	    width: 500px;
	    height: 281.9999px;
	}
}

@media (max-width: 545px) {
	iframe {
	    width: 400px;
	    height: 225.5px;
	}
}

@media (max-width: 425px) {
	iframe {
	    width: 300px;
	    height: 169.05px;
	}
}

@media (max-width: 325px) {
	iframe {
	    max-width: 260px;
	    height: 146.51px;
	}
}